* {
  box-sizing: border-box;
}

.corpo{
width: auto;
height: auto;
}
.topo{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.botao{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: flex-end;
  height: inherit;
}

.botao button{
  height: 75px;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: Brush Script MT;
  font-size: 25px;
  font-weight: 100;
  padding: 25px;
  background-color: #209920;
  box-shadow: 1px 1px 5px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #209920 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.palavraEscolhida{
  margin-top: 200px;
}


.forca-imagem>img {
  margin-top: 30px;
  width: 500px;
  height: 375px;
}

.teclado {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 325px;
  margin-left: 450px;
  width: auto;
  height: 125px;
}

.letra {
  margin: 1px 1px;
  font-weight: 700;
  font-size: 15px;
  background-color: #ad9d9d;
  border: none;
  border-radius: 5px;
  width: 55px;
  height: 35px;
}

.letra:disabled{
  background-color: #9099a1;
  color: #b7b8b9;
}

.footer{
  max-width: 400px;
  margin: 12px auto;
  display: flex;
  justify-content: space-between;
}

.footer button{
  border: 1px solid #74808a;
  cursor: pointer;
  height: 30px;
  width: 70px;
  background-color: #dad5d5;
  color: #111010;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px; 
}

.footer button:disabled{
  background-color: #9faab5;
  color: #79818a;
}

.footer label{
  display: flex;
  align-items: center;
  font-size: 20px;
}

.jogando{
  margin: 1px;
  font-size: 45px;
}

.derrota{
  font-size: 45px;
  font-weight: bold;
  color:#c70d0d;
}

.ganhei{
  font-size: 45px;
  font-weight: bold;
  color:#31be0e;
}

